@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    padding: 10px;
    text-align: center;
}
.background{
    position: absolute;
    height: 100%;
    width: 100%;  
    background-image: url(images/travbg.avif);
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1; 
}
nav,footer{
    padding: 20px;
    border: 1px solid  black ;
    /* background-color:lightslategray; */
    overflow: hidden;
    text-align:center;
}
nav {
    position: sticky;
    top: 0px;
    background-color:azure ;
}
h1{
    font-family: "Pacifico", serif;
  font-weight: 500;
  font-size: 10vw;
  font-style: normal;
  /* color:rgba(0, 0, 194, 0.993); */
  color: blue;

}
.text-container{
    padding: 5px;
    color:blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold; 
    font-style: italic;
}
h2{
    color:crimson;
}

a {
    padding: 10px;
    text-decoration:none;
    color:black;
    font-weight: bolder;
}
a:hover{
    background-color:grey;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

    grid-auto-rows: minmax(100px,auto);
    gap: 10px;
}
.items{
    text-align: center;
    padding: 2px;
}
.items img{
    width: 100%;
    height: auto;
    display:block;
} 
input{
    margin: 8px;
    padding: 5px;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    width: 30vw;
    background-color: azure;
    text-wrap: wrap;
}
